.logo-content {
    position: absolute;
    left: 10px;
    top: 10px;
}
.logo-content img {
    height: 150px;
    width: 210px; 
}

@media screen and (max-width: 770px) { 
    .logo-content {
        margin-top: 44px;
        width: 100%;
        text-align: center;
        left: 0px;
        top: 12px;
    }
    .logo-content img {
        width: 168px;
        height: 120px;
    }
}

@media screen and (max-width: 414px) { 
    .logo-content {
        margin-top: 44px;
    }
}
/* .animated-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    padding: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align:center;
    --borderWidth: 3px;
    background: black;
    position: relative;
    border-radius: var(--borderWidth);
  }
  
  .animated-button:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease infinite;
    background-size: 400% 400%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  } */