@media screen and (max-width: 770px) { 
  .mint-form {
    margin-top: 108px;
    /* position: absolute; */
    /* top: 198px; */
  }
}

/* @media screen and (max-width: 414px) { 
  .mint-form {
    margin-top: 128px;
  }
} */

.mint-text {
    color: white;
    text-align: center;
    margin-top: -0.4rem;
    margin-bottom: 0.4rem;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 2.5rem;
}

.in-chadinu-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.price-text {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

input {
  /* background-color: -internal-light-dark( rgb(59, 59, 59), rgb(59, 59, 59)); */
  background-color: transparent !important;
}

/* input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(rgba(70, 90, 126, 0.4), rgba(70, 90, 126, 0.4)) !important;
  color: -internal-light-dark(black, white) !important;
} */