@media screen and (max-width: 700px) { 
    
    .blackuser-text > p {
        font-size: 3rem !important;
    }
    
    .blackuser-text > h2 {
        margin-top: 12% !important ;
        font-size: 2rem !important;
    }
    
}

.blackuser-text {
    font-family: 'Oswald';
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 10%;
}

.blackuser-text > p {
    font-size: 4rem;
    color: red;
    font-weight: bold;
}

.blackuser-text > h2 {
    font-family: 'Oswald';
    margin-top: 8%;
    font-size: 3rem;
}

  